{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>Details for User: {{user.username }}</h1>
        <p>First Name:{{student.firstname}}.</p>
        <p>Last Name {{student.lastname}}.</p>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>        
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>
<div id="description">
 <p>At Risk ?:YES.</p>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div id="chart_div"  style="width: 900px; height: 300px;"><div> 
<script type='text/javascript'>//<![CDATA[ 
 
google.load('visualization', '1', {packages: ['corechart']});
google.setOnLoadCallback(drawBasic);
 
function drawBasic() {
 
      var data = google.visualization.arrayToDataTable([
        ['Semester', 'Marks', 'Average', {role:'style'}],
        ['First', {{info[0]}}, 45, 'gold'],
        ['Second', {{info[1]}}, 40, 'gold'],
        ['Third', {{info[2]}}, 45, 'gold'],
        ['Fourth', {{info[3]}}, 42.5, 'gold'],
        ['Prediction', 47, 47, 'red' ]
      ]);
 
      var options = {
        title: 'Marks Distribution',
        chartArea: {width: '50%'},
        vAxis: {
            title: 'Marks'
          },
        hAxis: {
          title: 'Semester',
          minValue: 0
        },
        seriesType: 'bars',
        series: {1: {type: 'line'}},
        chartArea:{left:300,top:50,width:"50%",height:"50%"}
      };
 
      var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
 
      chart.draw(data, options);
    }
//]]>  
 
</script>

{% endblock %}
